body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Ensure container can scroll horizontally */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: calc(100% - 12px); /* Adjust width to ensure it fits within the container */
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Ensure table container can scroll horizontally */
}

table.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table.data-table th,
table.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping for better fit */
}

table.data-table th:nth-child(1),
table.data-table td:nth-child(1) {
  width: 150px; /* Ensure time column is visible */
}

input[type="number"],
input[type="text"] {
  width: 100%; /* Make input fields responsive */
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

input[type="number"], input[type="text"], input[type="date"] {
    width: 60px; /* Adjust the width as needed */
    padding: 5px;
    box-sizing: border-box;
}
