body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 150px; /* Increased width for time column */
}

input[type="text"],
input[type="number"] {
  width: 60px;
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="button"],
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #45a049;
}

#result,
#loading {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

#loading {
  display: none;
}
